---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include header.html %}

  <h1 class="giant">{{ site.data.settings.title }}</h1>
  <h1 class="large">{{ site.data.settings.title }}</h1>
  <h1>{{ site.data.settings.title }}</h1>
  <h2>Aaaye the sites set up!</h2>
  <h3>Aaaye the sites set up!</h3>
  <h4>Aaaye the sites set up!</h4>
  <h5>Aaaye the sites set up!</h5>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eius perferendis inventore ipsa dolores alias sunt officiis vel pariatur quos, dolorum illo enim tempore voluptatibus sed sapiente. Repellat, ipsum corporis.</p>
  
  <a href="#">Regular Link</a>
  <a href="#">Link Type 1</a>
  <a href="#">Link Type 2</a>
  <a href="#">Link Type 3</a>
  
  <a href="mailto:{{ site.data.settings.email }}">{{ site.data.settings.email }}</a>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/foundation.min.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>